<div class ='post'>
<div class="post-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="post-product-infos">
    <h2><%= @post.title %></h2>
    <br>
    <%= @post.content %>
    <%= @post.url %>
    <br><br>
    <% @post.comments.each do |comment| %>
          <%= comment.content%><br>
          <%= link_to "Delete !", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= render 'shared/new_comment' %>
<%= link_to 'Back to the list', posts_path %>
  </div>
</div>
</div>
